Repository davekpatrick/action-learn-javascript-helloworld, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, git, workflow, project, code, documentation

.github/labeler.yml:

# Add 'repo' label to any root file changes
repo:
- '*'
# 
git:
- any: ['**/.gitignore']
#
workflow:
- any: ['.github/**/*']
#
project:
- any: ['actions.yml']
#
code:
- any: [ 'actions.yml', 'node/package.json', 'node/**/*.js']
#
documentation:
- any: ['**/*.md']

...
# EOF

updated main test
  .github/workflows/main.yaml
Labels: workflow

updated workflow and dist
  .github/workflows/main.yaml
  .github/workflows/main.yml
  action.yml
  node/index.js
  node/package.json
Labels: repo, workflow

ncc and dep. install
  .github/workflows/main.yml
Labels: workflow

Compile step
  .github/workflows/main.yml
Labels: workflow

create commit
  .github/workflows/main.yml
Labels: workflow

file name typo
  .github/workflows/main.yml
Labels: workflow

force add files
  .github/workflows/main.yml
Labels: workflow

git confg user
  .github/workflows/main.yml
Labels: workflow

push HEAD
  .github/workflows/main.yml
Labels: workflow

Action release
  node/dist/index.js
Labels: none

cleanup
  .github/workflows/main.yml
  node/dist/index.js
Labels: workflow

Action Release Tag
  .github/workflows/main.yml
Labels: workflow

reset and restore key files
  .github/workflows/main.yml
Labels: workflow

Action release
  node/.gitignore
  node/dist/index.js
  node/index.js
  node/package.json
Labels: git

fix git rm , force tag
  .github/workflows/main.yml
Labels: workflow

release version, update tag
  .github/workflows/main.yml
Labels: workflow

release 1.0.0
  .github/workflows/main.yml
Labels: workflow
